@font-face {
    font-family: 'SligoilVF'; /*a name to be used later*/
    src: url('./SligoilVF.ttf'); /*URL to font*/
}



a:hover {
  text-decoration: wavy underline;
}

a {
  text-decoration: underline;
  color: #6E3278
}

body {
    max-width: 41em;
    margin: auto;
    background-color: #F7EFDA;
}

h1 {
    font-size: 5em;
    text-align: center;
    font-family: 'SligoilVF', 'Times New Roman';
}

h1:hover {
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    /* padding: 0 0 5em 0; */
}

audio {
    width: 100%;
}

select {
    width: 100%;
    margin-top: 4%;
    font: 1em "Times New Roman";
}

.container-bottom {
    padding-top: 10em;
    font: 1em "Times New Roman";
    text-align: left;
}



@media (max-width: 768px) {
    body {
        max-width: 100%;
        padding: 0 1em;
    }

    h1 {
        font-size: 2.5em;
    }

    select {
        font-size: 16px;
    }
}